/***********
  ALL VARIABLES
***********/
/***********
GLOBAL STYLES
***********/
*, :before, :after {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: #FF8C00; }

.container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

/***********
  EXAMPLE NAVIGATION
***********/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: height 0.5s ease-in-out;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }
  nav p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 30px;
    font-weight: bold;
    color: #FF8C00; }
  nav.active {
    height: 100px; }
    nav.active p {
      opacity: 1; }

/***********
ALL ICONS
***********/
.icon {
  position: relative;
  background: #fff;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  margin: 50px; }
  .icon.icon-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .icon.icon-1 span {
      position: relative;
      height: 10px;
      width: 100px;
      background-color: #FF8C00;
      border-radius: 5px;
      transition: all 0.5s ease-in-out; }
      .icon.icon-1 span:first-child {
        top: -20px; }
      .icon.icon-1 span:nth-child(2) {
        top: 0;
        left: 0; }
      .icon.icon-1 span:last-child {
        top: 20px; }
    .icon.icon-1.closed span:first-child {
      transform: rotate(45deg);
      top: 10px; }
    .icon.icon-1.closed span:nth-child(2) {
      left: -100px;
      opacity: 0; }
    .icon.icon-1.closed span:last-child {
      transform: rotate(-45deg);
      top: -10px; }
  .icon.icon-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .icon.icon-2 span {
      position: relative;
      height: 10px;
      width: 100px;
      background-color: #FF8C00;
      border-radius: 5px;
      transition: all 0.5s ease-in-out; }
      .icon.icon-2 span:first-child {
        top: -20px; }
      .icon.icon-2 span:nth-child(2) {
        top: 0;
        left: 0; }
      .icon.icon-2 span:last-child {
        top: 20px; }
    .icon.icon-2.closed span:first-child {
      transform: rotate(45deg);
      top: 10px; }
    .icon.icon-2.closed span:nth-child(2) {
      left: -100px;
      opacity: 0; }
    .icon.icon-2.closed span:last-child {
      transform: rotate(135deg);
      top: -10px; }
  .icon.icon-3 span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    width: 100px;
    background-color: #FF8C00;
    border-radius: 5px;
    transition: all 0.5s ease-in-out; }
    .icon.icon-3 span:first-child {
      top: 40px; }
    .icon.icon-3 span:nth-child(2) {
      top: 70px; }
    .icon.icon-3 span:nth-child(3) {
      top: 100px; }
    .icon.icon-3 span:nth-child(4) {
      top: -40px;
      transform: rotate(45deg);
      left: -60%;
      opacity: 0; }
    .icon.icon-3 span:last-child {
      top: -40px;
      transform: rotate(-45deg);
      left: 90%;
      opacity: 0; }
  .icon.icon-3.closed span:first-child {
    left: -150%;
    opacity: 0; }
  .icon.icon-3.closed span:nth-child(2) {
    opacity: 0; }
  .icon.icon-3.closed span:nth-child(3) {
    left: 150%;
    opacity: 0; }
  .icon.icon-3.closed span:nth-child(4) {
    top: 70px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    opacity: 1; }
  .icon.icon-3.closed span:last-child {
    top: 70px;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
    opacity: 1; }
  .icon.icon-4 span {
    position: absolute;
    height: 10px;
    background-color: #FF8C00;
    transition: all 0.5s ease-in-out; }
    .icon.icon-4 span:first-child, .icon.icon-4 span:nth-child(2), .icon.icon-4 span:nth-child(4), .icon.icon-4 span:last-child {
      width: 50px; }
    .icon.icon-4 span:first-child {
      top: 40px;
      left: 25px;
      border-radius: 5px 0 0 5px; }
    .icon.icon-4 span:nth-child(2) {
      top: 40px;
      left: 75px;
      border-radius: 0 5px 5px 0; }
    .icon.icon-4 span:nth-child(3) {
      top: 70px;
      left: 50%;
      transform: translate(-50%);
      width: 100px;
      border-radius: 5px; }
    .icon.icon-4 span:nth-child(4) {
      top: 100px;
      left: 25px;
      border-radius: 5px 0 0 5px; }
    .icon.icon-4 span:last-child {
      top: 100px;
      left: 75px;
      border-radius: 0 5px 5px 0; }
  .icon.icon-4.closed span:first-child {
    transform-origin: bottom left;
    transform: translate(-50%) rotate(45deg);
    left: calc(50% - 10px);
    top: 35px; }
  .icon.icon-4.closed span:nth-child(2) {
    transform-origin: bottom right;
    transform: translate(-50%) rotate(-45deg);
    left: calc(50% + 15px);
    top: 35px; }
  .icon.icon-4.closed span:nth-child(3) {
    opacity: 0; }
  .icon.icon-4.closed span:nth-child(4) {
    transform-origin: top left;
    transform: translate(-50%) rotate(-45deg);
    left: calc(50% - 10px);
    top: 105px; }
  .icon.icon-4.closed span:last-child {
    transform-origin: top right;
    transform: translate(-50%) rotate(45deg);
    left: calc(50% + 15px);
    top: 105px; }
  .icon.icon-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .icon.icon-5 span {
      position: relative;
      height: 10px;
      width: 100px;
      background-color: #FF8C00;
      border-radius: 5px;
      transition: top 0.3s 0.3s ease-in-out, transform 0.3s ease-in-out; }
      .icon.icon-5 span:first-child {
        top: -20px; }
      .icon.icon-5 span:nth-child(2) {
        top: 0;
        left: 0; }
      .icon.icon-5 span:last-child {
        top: 20px; }
    .icon.icon-5.closed span {
      transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out; }
      .icon.icon-5.closed span:first-child {
        top: 10px;
        transform: rotate(-45deg); }
      .icon.icon-5.closed span:nth-child(2) {
        left: -100px;
        opacity: 0; }
      .icon.icon-5.closed span:last-child {
        top: -10px;
        transform: rotate(45deg); }

/*# sourceMappingURL=hamb.css.map */
